@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-circle {
  background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 948px;
  height: 948px;
  opacity: 0.8;
  overflow: hidden;
}

.ficon:hover {
  filter: invert(57%) sepia(44%) saturate(1023%) hue-rotate(308deg)
    brightness(92%) contrast(89%);
}
